<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="./css/product.css">
    <link rel="stylesheet" href="./css/loader.css">
    <link rel="icon" href="./assets/icons/favicon.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
        crossorigin="anonymous">
    </script>
</head>

<body>

    <div class="loader_wrapper">
        <div class="spinner">
            <div class="inner one"></div>
            <div class="inner two"></div>
            <div class="inner three"></div>
          </div>
    </div>
    <header>
        <div class="logo">
            <img src="./assets/icons/logo.svg" alt="" srcset="">
        </div>
        <div class="search_box">
            <img src="./assets/icons/Search.png" alt="Q"/>
            <form method="POST" action="/search" id="serach_form">
                <input type="text" placeholder="What are you looking for?" id="search" name="search" autocomplete="off">
                <div class="user_data">
                    <input type="hidden" id="user_email" value='<%=userEmail%>' />
                    <input type="hidden" id="user_name" value='<%=userName%>' />
                </div>
            </form>
        </div>
        <div class="user_profile">
            <a href="/favourites">
                <% if(IDarr.length > 0) { %>
                    <img width="28" src="./assets/icons/Heart.svg"/>
                <% } else { %>
                    <img width="28" src="./assets/icons/HeartEmpty.svg"/>
                <% } %>
            </a>
            <div class="user_initials">
                <% if(status==="success"){%>
                    <%=profileCode%>
                <%}%>   
            </div>
            <button class="btn1 btn-logout">
                <a href="/logout">Logout</a>
            </button>
            </div>
            
        </div>
    </header>
    <main class="products">
        <section class="categories">
            <h3 style="margin-bottom: 30px;">Categories</h3>
            <div id="categories" class="cards">
                <div class="card">
                    <div class="imgbx">
                        <img src="./assets/images/Rectangle 20.png" alt="" srcset="">
                    </div>
                    <a href="#electronics">
                        <h4>Electronics</h4>
                    </a>
                </div>
                <div class="card">
                    <div class="imgbx">
                        <img src="./assets/images/Rectangle 23.png" alt="" srcset="">
                    </div>
                    <a href="#clothes">
                        <h4>Clothes</h4>
                    </a>
                </div>
                <div class="card">
                    <div class="imgbx">
                        <img src="./assets/images/Rectangle 21.png" alt="" srcset="">
                    </div>
                    <a href="#furniture">
                        <h4>Furniture</h4>
                    </a>
                </div>
                <div class="card">
                    <div class="imgbx">
                        <img src="./assets/images/Rectangle 22.png" alt="" srcset="">
                    </div>
                    <a href="#footware">
                        <h4>Footwear</h4>
                    </a>
                </div>
                <div class="card">
                    <div class="imgbx">
                        <img src="./assets/images/Rectangle 24.png" alt="" srcset="">
                    </div>
                    <a href="#kitchen">
                        <h4>Kitchen & Dining</h4>
                    </a>
                </div>
                <div class="card">
                    <div class="imgbx">
                        <img src="./assets/images/Rectangle 25.png" alt="" srcset="">
                    </div>
                    <a href="#stationery">
                        <h4>Stationery</h4>
                    </a>
                </div>

            </div>
           
            <hr style="border: .5px solid rgba(239, 237, 234, 1);margin-top: 36px;">
        </section>
        
        <% Object.keys(data).forEach(function(prop) { %>
            <section id=<%= prop %> class="items" style="margin-top:40px">
                <h3 style="margin-bottom: 30px;"><%= prop %></h3>
                <div id="categories" class="cards">
                    <% data[prop].forEach(d =>{ %>
                        <div class="card">
                            <div class="imgbx">
                                <img src=<%=d.product_image[0].name %> alt="" srcset="">
                                <div class="product_feature">
                                    <% if(prop === "clothes") { %>
                                        <form method="POST" action="/trial">
                                            <input type="hidden" value='<%= d.id %>' name="id" />
                                            <button type="submit" style="outline: none; border: none; background: none;">
                                                <div class="try product_btn">
                                                    <img src="./assets/icons/3d.svg" />
                                                </div>
                                            </button>
                                        </form>
                                    <% } %>
                                    <% if(IDarr.includes(d.id)) { %>
                                        <div class="wishlist product_btn" data-id='<%= d.id %>' data-status='true'>
                                            <img src="./assets/icons/HeartWishFill.svg" />
                                        </div>
                                    <% } else{ %>
                                        <div class="wishlist product_btn" data-id='<%= d.id %>' data-status="false">
                                            <img src="./assets/icons/HeartWish.svg" />
                                        </div>
                                    <% } %>
                                    
                                </div>
                            </div>
                            <div class="product_info">
                                <p class="product_price">&#8377; <%=d.product_price %></p>
                                <p class="product_desc"><a target="_blank" href=<%=d.product_link %>><%= d.product_name %></a></p>
                                <div class="product_review">
                                    <% if(d.site === "Amazon"){ %>
                                        <img src="./assets/images/Amazon_icon.png"/>
                                    <% } %>
                                    <% if(d.site === "Snapdeal"){ %>
                                        <img src="./assets/images/Snapdeal_Logo.png"/>
                                    <% } %>
                                    <% if(d.site === "Flipcart"){ %>
                                        <img src="./assets/images/Flipcart_icon.png"/>
                                    <% } %>
                                    <div class="stars_outer" data-rating=<%= d.rating %>>
                                        <div class="stars_inner"></div>
                                    </div>
                                    <p class="product_rating_points"><%= d.rating %></p>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <hr style="border: .5px solid rgba(239, 237, 234, 1);margin-top: 36px;">
            </section>
          <% }); %>
    
        

    </main>
    <footer>
        <div class="footer-logo">

            <img src="./assets/icons/footer.svg" alt="" srcset="">
        </div>
        <div class="footer-links">
            <a href="#">About</a>
            <a href="#">Features</a>
            <a href="#">Help</a>
            <a href="#">Privacy Policy</a>
        </div>
        <hr style="border: 0.5px solid rgba(239, 237, 234, 0.3);margin-top: 56px;">
        <div class="footer-social">
            <p>© 2020 Salerr. All rights reserved</p>
            <div class="footer-sicons">
                <a href="#"><img src="./assets/icons/Instagram.svg"></a>
                <a href="#"><img src="./assets/icons/Dribbble.svg"></a>
                <a href="#"><img src="./assets/icons/Twitter.svg"></a>
                <a href="#"><img src="./assets/icons/Dribbble.svg"></a>
            </div>
        </div>
    </footer>
    <script src="./js/product.js"></script>
    <script src="./js/ratings.js"></script>
    <script src="./js/favourites.js"></script>

</body>

</html>