<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/search.css">
    <link rel="stylesheet" href="./css/loader.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
        crossorigin="anonymous">
    </script>
    <title>Product</title>
</head>
<body>
    <div class="loader_wrapper">
        <div class="spinner">
            <div class="inner one"></div>
            <div class="inner two"></div>
            <div class="inner three"></div>
          </div>
    </div>
    <header>
        <div class="logo">
            <img src="./assets/icons/Logo.svg" alt="" srcset="">
        </div>
        <div class="search_box">
            <img src="./assets/icons/search.png" alt="Q"/>
            <form method="POST" action="/search" id="serach_form">
                <input type="text" placeholder="What are you looking for?" id="search" name="search">
                <div class="user_data">
                    <input type="hidden" id="user_email" value='<%=userEmail%>' />
                    <input type="hidden" id="user_name" value='<%=userName%>' />
                </div>
            </form>
        </div>
        <div class="user_profile">
            <a href="/favourites"><img src="./assets/icons/Heart.svg"/></a>
            <div class="user_initials">
                <% if(status==="success"){%>
                    <%=profileCode%>
                <%}%>   
            </div>
            <button class="btn1 btn-logout">
                <a href="/logout">Logout</a>
            </button>
            
        </div>
    </header>

    <main class="products">

            <div class="product_wrapper">
                <div class="product_name">
                    <% if(!isEmpty){ %>
                        <p id="search_product">"<%=product%>"</p>
                        <div class="product_filter">
                            <img src="./assets/icons/filter.svg" />
                            <div class="filter_dropdown">
                                <div class="filter_title">
                                    <p>Filter</p>
                                </div>
                                <div class="filter_options">
                                    <p class="f_opt" onclick="selectFilter('price')">Price</p>
                                    <p class="f_opt" onclick="selectFilter('ratings')">Ratings</p>
                                </div>
                                
                            </div>
                        </div>
                    <% } %>
                    
                </div>

    
                <div class="product_list">
                    <% if(isEmpty){ %>
                        <div class="container_empty">
                            <p>Oops! We can't find anything!</p>
                        </div>
                    <% } else{ %>  
                        <% priceData.forEach(d =>{ %>
                            <div class="product_card price_card">
                                <div class="product_img">
                                    <img src='<%=d.product_image[0].name %>' alt="" srcset="">
                                </div>
                                <div class="product_details">
                                    <div class="product_price">
                                        <p>&#8377; <%=d.product_price %></p>
                                        <div>
                                            <% if(d.site === "Amazon"){ %>
                                                <img src="./assets/images/Amazon_icon.png"/>
                                            <% } %>
                                            <% if(d.site === "Snapdeal"){ %>
                                                <img src="./assets/images/Snapdeal_Logo.png"/>
                                            <% } %>
                                            <% if(d.site === "Flipcart"){ %>
                                                <img src="./assets/images/Flipcart_icon.png"/>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <p><%= d.product_name %></p>
                                    </div>
                                    <div class="product_rating">
                                        <div class="stars_outer" data-rating=<%= d.rating %>>
                                            <div class="stars_inner"></div>
                                        </div>
                                        <p class="product_rating_points"><%= d.rating %></p>
                                    </div>
                                </div>
                                <div class="product_buttons">
                                    <% if(IDarr.includes(d.id)) { %>
                                        <div class="wishlist product_btn" data-id='<%= d.id %>' data-status='true'>
                                            <img src="./assets/icons/HeartWishFill.svg" />
                                        </div>
                                    <% } else{ %>
                                        <div class="wishlist product_btn" data-id='<%= d.id %>' data-status="false">
                                            <img src="./assets/icons/HeartWish.svg" />
                                        </div>
                                    <% } %>
                                    <div class="redirect product_btn">
                                        <a target="_blank" href=<%=d.product_link %>><img src="./assets/icons/Link.svg" /></a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>  
                        <% ratingData.forEach(d =>{ %>
                            <div class="product_card rating_card">
                                <div class="product_img">
                                    <img src='<%=d.product_image[0].name %>' alt="" srcset="">
                                </div>
                                <div class="product_details">
                                    <div class="product_price">
                                        <p>&#8377; <%=d.product_price %></p>
                                        <div>
                                            <% if(d.site === "Amazon"){ %>
                                                <img src="./assets/images/Amazon_icon.png"/>
                                            <% } %>
                                            <% if(d.site === "Snapdeal"){ %>
                                                <img src="./assets/images/Snapdeal_Logo.png"/>
                                            <% } %>
                                            <% if(d.site === "Flipcart"){ %>
                                                <img src="./assets/images/Flipcart_icon.png"/>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <p><%= d.product_name %></p>
                                    </div>
                                    <div class="product_rating">
                                        <div class="stars_outer" data-rating=<%= d.rating %>>
                                            <div class="stars_inner"></div>
                                        </div>
                                        <p class="product_rating_points"><%= d.rating %></p>
                                    </div>
                                </div>
                                <div class="product_buttons">
                                    <% if(IDarr.includes(d.id)) { %>
                                        <div class="wishlist product_btn" data-id='<%= d.id %>' data-status='true'>
                                            <img src="./assets/icons/HeartWishFill.svg" />
                                        </div>
                                    <% } else{ %>
                                        <div class="wishlist product_btn" data-id='<%= d.id %>' data-status="false">
                                            <img src="./assets/icons/HeartWish.svg" />
                                        </div>
                                    <% } %>
                                    <div class="redirect product_btn">
                                        <a target="_blank" href=<%=d.product_link %>><img src="./assets/icons/Link.svg" /></a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>        
                    <% } %>
                       
                </div>
            </div>

    </main>
    <script src="./js/search.js"></script>
    <script src="./js/ratings.js"></script>
    <script src="./js/favourites.js"></script>

</body>
</html>