<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Trial</title>
    <link rel="stylesheet" href="./css/trial.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
        crossorigin="anonymous">
    </script>
</head>
<body>


    <div class="wrapper">
        <div class="scene">
            <div class="loader_wrapper">
                <div class="spinner">
                    <div class="inner one"></div>
                    <div class="inner two"></div>
                    <div class="inner three"></div>
                  </div>
            </div>
        </div>
        <div class="info">
            
            <div class="product_details">
                <p class="product_name"><%= data[0].product_name %></p>
                <div class="product_review">
                    <img src="./assets/images/Amazon_icon.png"/>
                    <div class="stars_outer" data-rating=<%= data[0].rating %>>
                        <div class="stars_inner"></div>
                    </div>
                    <p class="product_rating_points"><%= data[0].rating %></p>
                </div>
                <p class="product_price">&#8377; <%= data[0].product_price %></p>
                <div class="product_images">
                    <div class="product_img">
                        <img id="front_img" src="<%= data[0].product_image[0].name %>" />
                    </div>
                    <div class="product_img">
                        <img id="back_img" src="<%= data[0].product_image[1].name %>" />
                    </div>
                </div>
                <div class="buy_now">
                    <a target="_blank" href="<%= data[0].product_link %>">Buy Now</a>
                </div>
            </div>
        </div>
    </div>


    <!-- The main Three.js file -->
    <script src='./js/ThreeJS/Three.js'></script>

    <!-- This brings in the ability to load custom 3D objects in the .gltf file format. Blender allows the ability to export to this format out the box -->
    <script src='./js/ThreeJS/GLTFLoader.js'></script>

    <!-- This is a simple to use extension for Three.js that activates all the rotating, dragging and zooming controls we need for both mouse and touch, there isn't a clear CDN for this that I can find -->
    <script src='./js/ThreeJS/OrbitControls.js'></script>

    <script src="./js/trial.js"></script>
    <script src="./js/trialworker.js"></script>

</body>
</html>