<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="./css/wishlist.css">
    <link rel="stylesheet" href="./css/loader.css">
</head>
<body>
    <div class="loader_wrapper">
        <div class="spinner">
            <div class="inner one"></div>
            <div class="inner two"></div>
            <div class="inner three"></div>
          </div>
    </div>
    <header>
        <div class="logo">
            <img src="./assets/icons/logo.svg" alt="" srcset="">
        </div>
        <div class="search_box">
            <img src="./assets/icons/Search.png" alt="Q"/>
            <form method="POST" action="/search" id="serach_form">
                <input type="text" placeholder="What are you looking for?" id="search" name="search" autocomplete="off">
                <div class="user_data">
                    <input type="hidden" id="user_email" value='<%=userEmail%>' />
                    <input type="hidden" id="user_name" value='<%=userName%>' />
                </div>
            </form>
        </div>
        <div class="user_profile">
            <a href="/favourites"><img src="./assets/icons/Heart.svg"/></a>
            <div class="user_initials">
                <% if(status==="success"){%>
                    <%=profileCode%>
                <%}%>   
            </div>
            <button class="btn1 btn-logout">
                <a href="/logout">Logout</a>
            </button>
        </div>
    </header>
    <% if(isEmpty){ %>
        <div class="container container_empty">
            <div class="container_info">
                <p>Nothing saved, yet</p>
                <p>Save items you like just<br>pressing<br><img src="./assets/icons/HeartWishFill.svg"/></p>
            </div>
            <div class="container_browse">
                <form action='/browse' method="POST">
                    <button>Browse Now</button>
                </form>
            </div>
        </div>
      <% } else{ %>  
        <div class="container container_wishlist">
            <section class="items" style="margin-top:40px">
                <h3 style="margin-bottom: 30px;">Products I like</h3>
                <div id="categories" class="cards">

                    <% products.forEach(function(data) { %>
                        <% data.forEach(d =>{ %>     
                            <div class="card">
                                <div class="imgbx">
                                    <img src=<%=d.product_image[0].name %> alt="" srcset="">
                                    <div class="product_feature">
                                        <% if(d.product_image[1]) { %>
                                            <form method="POST" action="/trial">
                                                <input type="hidden" value='<%= d.id %>' name="id" />
                                                <button type="submit" style="outline: none; border: none; background: none;">
                                                    <div class="try product_btn">
                                                        <img src="./assets/icons/3d.svg" />
                                                    </div>
                                                </button>
                                            </form>
                                        <% } %>
                                        <div class="wishlist product_btn" data-id='<%= d.id %>' data-status='true'>
                                            <img src="./assets/icons/HeartWishFill.svg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <p class="product_price">&#8377; <%=d.product_price %></p>
                                    <p class="product_desc"><a target="_blank" href=<%=d.product_link %>><%= d.product_name %></a></p>
                                    <div class="product_review">
                                        <% if(d.site === "Amazon"){ %>
                                            <img src="./assets/images/Amazon_icon.png"/>
                                        <% } %>
                                        <% if(d.site === "Snapdeal"){ %>
                                            <img src="./assets/images/Snapdeal_Logo.png"/>
                                        <% } %>
                                        <% if(d.site === "Flipcart"){ %>
                                            <img src="./assets/images/Flipcart_icon.png"/>
                                        <% } %>
                                        <div class="stars_outer" data-rating=<%= d.rating %>>
                                            <div class="stars_inner"></div>
                                        </div>
                                        <p class="product_rating_points"><%= d.rating %></p>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    <% }); %>


                    
                </div>
            </section>
            <div class="container_browse">
                <form action='/browse' method="POST">
                    <button>Browse More</button>
                </form>
            </div>
        </div>

        
     <% } %>

     <script src="./js/ratings.js"></script>
     <script src="./js/favourites.js"></script>

</body>
</html>